<p *ngIf = "!(authService.getUser()| async)">Your are not logged in</p>
<div>
  <button mat-raised-button  *ngIf = "(authService.getUser()| async)"
    
  color = "primary"
  (click) = "addCustomerFormOPen = !addCustomerFormOPen"
>
Add Customer
</button>      
</div>
<div>
  <addcustomerform *ngIf = "addCustomerFormOPen"
    (update) = "add($event) ; addCustomerFormOPen = !addCustomerFormOPen"

    (closeEdit) = "addCustomerFormOPen = false"
    >    
</addcustomerform>
</div>
<mat-accordion *ngIf = "(authService.getUser()| async)">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let customer of customers$ | async;let i = index">
                         <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{customer.name}}
                          </mat-panel-title>
                          <mat-panel-description>
                            
                            <button mat-raised-button
                              color = "primary"
                              (click) = "deleteCustomer(customer.id)">
                                Delete
                            </button>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <button mat-raised-button
                          color = "primary"
                          (click) = "editstate[i] = !editstate[i]"
                         >
                           Edit
                        </button>  
                        <button mat-raised-button
                    color = "primary"
                      (click) = "classify(customer)">
                      check if the customer will return the loan
                    </button>
                    <div>{{customer.category}} </div>   
                        <customerform 
                        [hidden] = "!editstate[i]"
                        [name] = "customer.name"
                       [education] = "customer.education"
                       [salary] = "customer.salary"
                        [id] = "customer.id"
                      (update) = "update($event);editstate[i] = !editstate[i]"
                      (closeEdit) = "editstate[i] = !editstate[i]"
                        >
                      </customerform>
                        <p> salary : {{customer.salary}} </p>
                        <p> education : {{customer.education}} </p>
                      </mat-expansion-panel>
                      
                     
                    </mat-accordion>
                    <p>
                      <mat-form-field appearance="standard">
                        <mat-label>Salary</mat-label>
                        <input matInput 
                          [(ngModel)] = "salary"
                          name = "salary"
                          required>
                      </mat-form-field>
                    </p> 
                    <p>
                      <mat-form-field appearance="standard">
                        <mat-label>Education</mat-label>
                        <input matInput 
                          [(ngModel)] = "education" 
                          name = "education" 
                          required>
                      </mat-form-field>
                    </p>   
