<mat-card>
    <h1>Add Customer</h1>
    <form #addcustomerform="ngForm">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Name</mat-label>
              <input matInput 
                [(ngModel)] = "name"
                name = "name"
                required>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Education</mat-label>
              <input matInput 
                [(ngModel)] = "education" 
                name = "education" 
                required>
            </mat-form-field>
          </p>   
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Salary</mat-label>
              <input matInput 
                [(ngModel)] = "salary" 
                name = "salary" 
                required>
            </mat-form-field>
          </p>                                       
          <div >
            <button mat-raised-button color="primary" 
                    (click)= "updateParent()">
                     Add
            </button>
            <button mat-raised-button  
                    (click)= "tellParentToClose()">
                     Cancel
            </button>            
        </div>
      </div>
    </form>
   </mat-card>